body {
  margin: 0;
  padding: 1.5rem;
  font: 1rem/1.5 'PT Sans', Arial, sans-serif;
  color: #1c0221;
  display: grid;
  align-items: top;
  justify-content: center;
  gap: 2rem;
}

@media screen and (min-width: 800px) {
  body {
    grid-template-columns: repeat(4, 1fr);
  }
}

.header {
  font-size: x-large;
  margin-bottom: 0.5rem;
}

.file {
  margin: 0.35rem 0;
}

.file-label:hover .file-cta {
  background-color: #c5c9a4;
}

input {
  margin-bottom: 0.35rem;
}

input[type="submit"] {
  margin: 0.20rem 0;
}