{% import 'macros/forms.html' as forms %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Housing Data Analytics</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap"
    rel="stylesheet"
  />
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <form action="/process" method="post" enctype="multipart/form-data">
    <div class="header">Corporation Count</div>
    <input type="hidden" name="function" value="corporation_count" />
    {{ forms.file(name='registration', label='Choose a file...') }}
    <input type="submit" value="Process" />
  </form>
  {{ forms.compare('Compare Registration CSVs', 'RegistrationContactID') }}
  {{ forms.compare('Compare Building CSVs', 'BuildingID') }}
  {{ forms.compare('Compare Arbitrary CSVs', 'IndexID') }}
  <script src="/static/index.js"></script>
</body>
